<div class="area">
    <div *ngFor="let slot of slots; let i = index">
        <div class="empty-slot" (onCreate)="onSlotCreated($event, i)"
        [ngStyle]="{'transform': 'translate(' + slot.posX + 'px, ' + slot.posY + 'px)'}">
            <div class="slot-index text-dark text-center">{{i + 1}} </div>
        </div>
    </div>
    <div *ngFor="let card of cards; let i = index">
        <app-movable-card #movableCard [cardInfo]=card
        (on_touchstart)="touchstart(card)">
        </app-movable-card>
    </div>
    <div id="override-drag" class="override-drag">
        <div id="action-card"
        class="action-card text-dark detailed-action-card"
        [ngStyle]="{'transform': 'translate(' + positionX + 'px, ' + positionY + 'px) scale(1.1)'}"
        [@detailedCardTransition] = "{value: state, params: {position_x: startPosX, position_y: startPosY, to_position_x: detailedPosX, rot: rotation}}"
        (@detailedCardTransition.done) = "detailedCardAnimationEnd($event)">
            <img class="draggable-action-card" src="../../assets/images/image_card_template.png">
            <div class="card-img-overlay">
                <h5 class="text-center action-name">{{detailedCard.name}}</h5>
                <img [@detailedCardIconTransition] = "{value: state}" src={{detailedCard.icon}} class="detailed-action-icon disable-pointer-events"/>
                <h5 [@detailedCardExplanationTransition] = "{value: state}" class="text-center action-explanation">{{detailedCard.description}}</h5>
            </div>
        </div>
    </div>
</div>