<div class="container-fluid">
	<img src="assets/UI/window/wood_plank1.svg">
	<div class="row top-container">
		<div class="col-2" (click)="clickMainButton()">
			<img class="iconHolder" src="assets/UI/window/inside.png">
			<img src={{menuItem.textureUrl}} class="command-icon">
			<img class="iconHolder" src="assets/UI/window/outside.png">
		</div>
		<div class="col-2">
			<img class="title-background" src="assets/UI/window/banner_small_red2.svg">
			<h1 class="title title-responsive">{{menuItem.name}}</h1>
		</div>
	</div>

	<div class="row middle-container">
		<!--<div *ngIf="displayBuyButton" class="col-2" style="padding-left: 5px" (click)="buyItem()">
			<img class="buy-btn" src="assets/UI/button/r_bg_green.png">
			<img class="buy-btn" src="assets/UI/button/ring_frame.PNG">
			<img class="buy-btn" src="assets/UI/button/r_bag.PNG">
		</div>-->
		<div class="col-2" (click)="clickSecondaryButton()">
			<img class="secondary-action-btn" src="assets/UI/button/r_bg_blue.png">
			<img class="secondary-action-btn" src="assets/UI/button/ring_frame.PNG">
			<img class="secondary-action-btn" src="{{secondaryActionImgURL}}">
		</div>
	</div>

	<div class="row bottom-container">
		<div class="col-2 no-pointer"></div>
		<div class="col-2 no-pointer"></div>
		<!--
		<div class="col-2">
			<img class="buy-btn" src="assets/UI/button/r_bg_yellow.png">
			<img class="buy-btn" src="assets/UI/button/ring_frame.PNG">
			<img class="buy-btn" src="assets/UI/button/r_scroll.PNG">
		</div>-->
		
		<div class="col-2 resourceWrapper" *ngFor="let resource of menuItem.cost">
			<app-resource [(resource)]="resource"></app-resource>
		</div>
	</div>
</div>