<div class="container-fluid">
	<img src="assets/UI/window/wood_plank1.svg">
	<div class="row foreground">
		<div class="col-2">
			<img class="iconHolder" src="assets/UI/window/grid4L.svg">
			<img class="icon" src={{item.$icon}}>
		</div>
		<div class="col-2">
			<img class="title-background" src="assets/UI/window/banner1.svg">
			<h1 class="title title-responsive">{{item.$name}}</h1>
		</div>
		<div class="col-2 resourceWrapper" *ngFor="let resource of item.$resources">
			<app-resource [(resource)]="resource"></app-resource>
		</div>
	</div>
</div>