.background
{
	position: relative;
	z-index: 3;
	width: 80%;
}

.resource-icon
{
	width: 100%;
	position: relative;
}

.resource-icon-fg
{
	position: absolute;
	width: 50%;
	left:25%;
	top:25%;
}

.resource-amount-bg
{
	position:absolute;
	width: 100%;	
	left:0;
	top:87%;
}

.resource-amount-fg
{
	position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: Zolof;
    color: beige;
	width: 100%;	
	z-index: 5;
}

.resource-amount-fg-right
{
	top: 30%;
    position: absolute;
    left: 110%;
}

.resource-amount-bg-right
{
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	
	left: 75%;
    top: 15%;
}

.small
{
	font-size: 80%;
	top: 95%;
}

.medium
{
	font-size: 130%;
	top: 100%;
}

.large
{
	font-size: 175%;
	top: 100%;
}