<div class="resource-container" *ngIf="showAmountAsPlural;else numberBadge">
	<div *ngFor="let n of amountAsArray">
		<img class="resource-bg" src="assets/UI/window/grid4L.svg">
		<img class="resource-fg" src={{resource.resourceIconSrc}}>
	</div>
</div>

<ng-template #numberBadge>
	<img class="resource-bg" src="assets/UI/window/grid4L.svg">
	<img class="resource-fg-number" src={{resource.resourceIconSrc}}>
	<img class="amountHolder-background" src="assets/UI/button/r_bg_blue.png">
	<img class="amountHolder" src="assets/UI/window/map_frame_top2.svg">
	<h4 class="amount amount-responsive">{{resource.$amount}}</h4>
</ng-template>