<div class="buttonContainer">
	<img class="window-btn-bg back-btn" src="assets/UI/button/r_bg_yellow.png">
	<img class="window-btn-bg back-btn" src="assets/UI/button/ring_frame.PNG">
	<img class="window-btn back-btn-fg" src="assets/UI/window/btn_d_return.png">
	<!--(click)="returnToItemOverviewWindow($event)"-->
</div>

<div class="container-fluid">
	<div class="container-fluid">
		<div class="scrollable-menu scrollbar-ripe-malinka" style="height:47%">
			<p class="select-cell-explanation">Select Cell to Build monastery</p>
		</div>
	</div>
</div>
