/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

.rotate-90
{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.icon-small-text
{
    text-align: left;
    font-family: Roboto;
    font-size: 20px;
}

.icon-small
{
    position: absolute;
    width: 10vw;
    height: auto;
}

.btn-parent-small
{
    position: absolute;
    margin-top: -7vh;
    margin-left: 48vw;
}

.btn-round-small
{
    display: inline-block;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

.btn-parent
{
    position:relative;
    display: block;
    width: 40vw;
}

.btn-round 
{
    display: inline-block;
    width:35vh;
    height:35vh;
    border-radius: 50%;
}

.btn-icon
{
    width:35vh;
    height:35vh;
    position: absolute;
    top:0;
    left:0;
    pointer-events: none;
}

.btn-icon-small
{
    width: 20vh;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

input:focus,
button:focus,
select:focus
{
  outline: none;
}

#avatar-select
{
    top: 13px;
    outline:none;
}

.button-box
{
    position: fixed;
    bottom: 10px;
    text-align:center;
}

.gear-thumb
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.btn-bottom
{
    margin: auto;
    margin-top: 10px;
    width: 80%;
}

.card-specs-outer
{
    width: 95%;
    position:relative;
    margin:auto;
}

.card-specs-inner
{
    margin: 10px 10px 10px 10px;
}

.specs-bar
{
    margin: 0px 5px 0px 0px;
}

.info-text-small
{
    font-size: 13px;
    position:inherit;
}

.wrapper { overscroll-behavior: none }

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
body { -webkit-user-select: none; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
