<div class="area" (click) = "closeDetailedCard($event)">
    <div *ngFor="let card of cards; let i = index">
        <app-movable-card [cardInfo]=card (detailedCardTapped)="openDetailedCard(card)"></app-movable-card>
    </div>
    <div id="override-drag" class="override-drag"> <!--Overrides dragging cards when detailed view is open-->
        <div 
        class="action-card text-dark detailed-action-card"
        [@detailedCardTransition] = "{value: state, params: {position_x: positionX, position_y: positionY, to_position_x: toPositionX, rot: rotation}}"
        (@detailedCardTransition.done) = "detailedCardAnimationEnd($event)">
            <img class="draggable-action-card" src="../../assets/images/image_card_template.png">
            <div class="card-img-overlay">
                <h5 class="text-center action-name">{{detailedCard.name}}</h5>
                <img [@detailedCardIconTransition] = "{value: state}" src={{detailedCard.icon}} class="detailed-action-icon disable-pointer-events"/>
                <h5 [@detailedCardExplanationTransition] = "{value: state}" class="text-center action-explanation">{{detailedCard.description}}</h5>
            </div>
        </div>
    </div>
</div>