<div class="buttonContainer">
	<img class="window-btn-bg back-btn" src="assets/UI/button/r_bg_yellow.png">
	<img class="window-btn-bg back-btn" src="assets/UI/button/ring_frame.PNG">
	<img class="window-btn back-btn-fg" src="assets/UI/window/btn_d_return.png"
	(click)="returnToItemOverviewWindow($event)">
</div>

<div class="container-fluid">
	<div class="scrollable-menu scrollbar-ripe-malinka" style="height:47%">
		<div class="row details">
			<img class="col-12 icon" src="{{data.$icon}}">
		</div>
		<div class="row cost-container">
			<div class="description col-4">
				<h4>Cost</h4>
			</div>
			<div class="col-2 resourceWrapper" *ngFor="let resource of data.$cost">
				<app-resource [(resource)]="resource"></app-resource>
			</div>
		</div>
		<div class="row cost-container" *ngIf="data.$upkeep.length > 0">
			<div class="description col-4">
				<h4>Upkeep</h4>
			</div>
			<div class="col-2 resourceWrapper" *ngFor="let resource of data.$upkeep">
				<app-resource [upkeep]="true" [(resource)]="resource"></app-resource>
			</div>
		</div>
	</div>

	<div class="row button-container">
		<div class="col-6">
			<div class="buttonContainer">
				<img class="buy-btn-bg" src="assets/UI/button/r_bg_green.png">
				<img class="buy-btn-bg" src="assets/UI/button/ring_frame.PNG">
				<img class="buy-btn-fg window-btn" src="assets/UI/button/r_bag.PNG"
				(click)="closeItemDetailWindow($event)">
			</div>
		</div>
	</div>
</div>