<img class="window-btn-bg back-btn" src="assets/UI/button/r_bg_yellow.png"
	(click)="returnToItemOverviewPage($event)">
<img class="window-btn-bg back-btn" src="assets/UI/button/ring_frame.PNG">
<img class="window-btn back-btn-fg" src="assets/UI/window/btn_d_return.png">

<div class="container-fluid">
	<mat-card class="scrollable-menu scrollbar-ripe-malinka" style="height:47%">
		<div class="row details">
			<img class="col-12 icon" src="assets/Terrain_Medieval/Decor/villageSmall03.png">
		</div>
		<div class="row cost-container">
			<div class="col-2 resourceWrapper" *ngFor="let resource of data.$resources">
				<app-resource [(resource)]="resource"></app-resource>
			</div>
		</div>
	</mat-card>

	<div class="row button-container">
		<div class="col-6">
			<img class="buy-btn-bg" src="assets/UI/button/r_bg_green.png"
				(click)="returnToItemOverviewPage($event)">
			<img class="buy-btn-bg" src="assets/UI/button/ring_frame.PNG">
			<img class="buy-btn-fg window-btn" src="assets/UI/button/r_bag.PNG">
		</div>
	</div>
</div>