<div class="container-fluid">
	<div class="scrollable-menu scrollbar-ripe-malinka" style="height:47%">
		<div class="row details">
			<img class="col-12 icon" src="{{menuItem.textureUrl}}">
		</div>
		<div class="row cost-container" *ngIf="menuItem.cost && menuItem.cost.length > 0">
			<div class="description col-4">
				<h4>Cost</h4>
			</div>
			<div class="col-2 resourceWrapper" *ngFor="let resource of menuItem.cost">
				<app-resource [(resource)]="resource"></app-resource>
			</div>
		</div>
		<div class="row cost-container" *ngIf="menuItem.upkeep && menuItem.upkeep.length > 0">
			<div class="description col-4">
				<h4>Upkeep</h4>
			</div>
			<div class="col-2 resourceWrapper" *ngFor="let resource of menuItem.upkeep">
				<app-resource [upkeep]="true" [(resource)]="resource"></app-resource>
			</div>
		</div>
		<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
		</p>
	</div>

	<div class="row button-container">
		<div class="col-6">
			<div class="buttonContainer" (click)="buyItem()">
				<img class="buy-btn-bg" src="assets/UI/button/r_bg_green.png">
				<img class="buy-btn-bg" src="assets/UI/button/ring_frame.PNG">
				<img class="buy-btn-fg window-btn" src="assets/UI/button/r_bag.PNG">
			</div>
		</div>
	</div>
</div>