<div [style.backgroundColor]="playerData.color"
class="p-3 mb-2 text-white text-center">
    <h5>World of Paint</h5>
</div>

<div class="container-fluid" style="height: 100%;">
    <div class="col-md-5">
        <h5 p-3>Press "Start Game!" when all players have jonined.</h5>
        <button 
            type="button" 
            [style.borderColor]="playerData.color" 
            [style.color]="playerData.color" 
            class="btn btn-outline btn-bottom btn-lg btn-block" 
            (click)="startGame()">Start Game!</button>
    </div>
    <app-infomodal></app-infomodal>
</div>