div.fixed 
{
	position: absolute;
	width: 100%;
	bottom: 87vh;
}

img.background
{
	width: 120%;
	margin-left: -10%;
}

.resource-container
{
	position: absolute;
	margin-top: -19%;
	margin-left: 10%;
    padding: 10px;
}

.resource-icon
{
	width: 50%;
}

.resource-icon-fg
{
	width: 35%;
	margin-top: -5%;
	margin-left: -40%;
}

.resource-amount-bg
{
	position: relative;
    width: 45%;
    margin-top: -10%;
    margin-left: 2%;
}

.resource-amount-fg
{
	position: absolute;
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-family: Zolof;
    color: beige;
    font-size: 125%;
    margin-top: -23%;
}

.resource-background
{
	margin-left: -10%;
	pointer-events: none;
}

.confirm-btn-background
{
	margin-left: -86%;
	width: 200%;
}

.confirm-btn-text
{
	font-family: Zolof;
    text-align: c;
    font-size: 130%;
    width: 100%;
    color: #fca475;
    pointer-events: none;
    margin-top: -23%;
    margin-left: 9%;
}

.confirmed-checkmark
{
	position: absolute;
    width: 38%;
    margin-left: 33%;
    margin-top: -34%;
}

.confirmed-checkmark.animate-in
{
    transition: transform .3s cubic-bezier(.85, -.25, .57, 1);
	transform: scale(100%, 100%);
}

.confirmed-checkmark.animate-out
{
    transition: transform .3s cubic-bezier(.85, -.25, .57, 1);
	transform: scale(0, 0);
}