
<app-menumodal></app-menumodal>

<div class="card-deck">
    <app-action-card></app-action-card>
</div>
<!--
<img src="../../assets/images/icon_score.svg" class="icon-small rotate-90" style="margin-top: 5vh; margin-left: 85vw;"/>
<div class="icon-small icon-small-text rotate-90" style="margin-top: 15vh; margin-left: 85vw;">
    {{score}}
</div>

<img src="../../assets/images/icon_kills.svg" class="icon-small rotate-90" style="margin-top: 30vh; margin-left: 85vw;">
<div class="icon-small icon-small-text rotate-90" style="margin-top: 40vh; margin-left: 85vw;">
    {{kills}}
</div>

<img src="../../assets/images/icon_assists.svg" class="icon-small rotate-90" style="margin-top: 50vh; margin-left: 85vw;">
<div class="icon-small icon-small-text rotate-90" style="margin-top: 60vh; margin-left: 85vw;">
    {{assists}}
</div>

<img src="../../assets/images/icon_death.svg" class="icon-small rotate-90" style="margin-top: 70vh; margin-left: 85vw;">
<div class="icon-small icon-small-text rotate-90" style="margin-top: 80vh; margin-left: 85vw;">
    {{deaths}}
</div>
-->