
<app-menumodal></app-menumodal>

<img src="../../assets/images/icon_score.svg" class="icon-small rotate-90" style="margin-top: 5vh; margin-left: 85vw;"/>
<div class="icon-small icon-small-text rotate-90" style="margin-top: 15vh; margin-left: 85vw;">
    {{score}}
</div>

<img src="../../assets/images/icon_kills.svg" class="icon-small rotate-90" style="margin-top: 30vh; margin-left: 85vw;">
<div class="icon-small icon-small-text rotate-90" style="margin-top: 40vh; margin-left: 85vw;">
    {{kills}}
</div>

<img src="../../assets/images/icon_assists.svg" class="icon-small rotate-90" style="margin-top: 50vh; margin-left: 85vw;">
<div class="icon-small icon-small-text rotate-90" style="margin-top: 60vh; margin-left: 85vw;">
    {{assists}}
</div>

<img src="../../assets/images/icon_death.svg" class="icon-small rotate-90" style="margin-top: 70vh; margin-left: 85vw;">
<div class="icon-small icon-small-text rotate-90" style="margin-top: 80vh; margin-left: 85vw;">
    {{deaths}}
</div>

<div class="btn-parent" style="margin-top: 7vh; margin-left: 2vw;">
    <button class="btn-round" [style.backgroundColor]=color (mousedown)="moveDown()" (mouseup)="moveUp()" (touchstart)="moveDown()" (touchend)="moveUp()">
    <img src="../../assets/images/icon_move.svg" class="btn-icon">
    </button>
</div>
<div class="btn-parent-small">
    <button class="btn-round-small" [style.backgroundColor]=color (click)="pause()" (touch)="pause()">
        <img src="../../assets/images/icon_pause.svg" class="btn-icon-small rotate-90">
    </button>
</div>
<div class="btn-parent" style="margin-top: 7vh; margin-left: 2vw;">
    <button class="btn-round" [style.backgroundColor]=color (mousedown)="shootDown()" (mouseup)="shootUp()" (touchstart)="shootDown()" (touchend)="shootUp()" >
        <img src="../../assets/images/icon_shoot.svg" class="btn-icon">
    </button>
</div>