.trash-icon
{
	width: 12%;
    position: absolute;
    margin-left: -30%;
	margin-top: -48%;
	pointer-events: none;
}

p
{
	text-align: left;
	font-family: Zolof;
	margin: 10px;
	font-size: 125%;
}

.entity-name
{
	text-align: center;
	font-family: Zolof;
	font-size: 200%;
	margin-top: -10%;
	margin-bottom: 5%;
}