<ng-template #content let-modal>
    <div [style.backgroundColor]=color class="p-3 mb-2 text-white text-center">
        <h5>{{header}}</h5>
    </div>
    <div class="modal-body">
        <div class="cotainer-fluid text-left">
            <h6>{{body}}</h6>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [style.borderColor]=color [style.color]=color class="btn btn-outline btn-lg btn-block btn-bottom" (click)="modal.close()">Close</button>
    </div>
</ng-template>