<div *ngIf="inspectedCard" class="overlay" (click)="closeInspectedCard()"></div>

<div class="fixed">
	<img class="background" src="assets/UI/window/wood_plank1.svg">
	<div class="resource-container container">
		<div class="row justify-content-left no-gutters">
			<div class="col-2 resource-background" *ngFor="let resource of resourcePool">
				<app-resource-hud [resource]="resource" [textSize]="'large'"></app-resource-hud>	
			</div>
			<div class="col-2" (click)="openPlayCardWindow()">
				<!-- open the 'play card' window -->
				<img class="play-card-bg" src="assets/UI/window/grid4L.svg"/>
				<img class="play-card-icon" src="assets/cards/card-back.png"/>
			</div>
		</div>		
	</div>
</div>

<div *ngIf="inspectedCard" (click)="closeInspectedCard()" class="container playable-card-container">
	<div class="row justify-content-center">
		<app-playable-card [card]="inspectedCard" [cardAnimation]="cardAnimation" (onTransitionEnd)="onCardCloseAnimationCompleted()"></app-playable-card>				
		<div class="col-8 btn-container">
			<div class="btn-select-card">
				<img #button src="assets/UI/window/btn_brown_normal.svg"
				(click)="choosePlayableCard($event)">
				<h1 class="text-select-card">Choose "{{inspectedCard.title}}"</h1>
			</div>
		</div>
	</div>
</div>