.resource-container
{
	position: absolute;
    top: 67px;
}

.button-container
{
    position: absolute;
	margin-bottom: -19%;
	margin-left: 10%;
    padding: 10px;
}

.fixed
{
	position: absolute;
    width: 100%;
    top: -5vh;
}

.resource-background
{
	pointer-events: none;

}

.confirm-btn-background
{
	margin-left: -86%;
	width: 200%;
}

.confirm-btn-text
{
	font-family: Zolof;
    text-align: c;
    font-size: 130%;
    width: 100%;
    color: #fca475;
    pointer-events: none;
    margin-top: -23%;
    margin-left: 9%;
}

.confirmed-checkmark
{
	position: absolute;
    width: 38%;
    margin-left: 33%;
    margin-top: -34%;
}

.confirmed-checkmark.animate-in
{
    transition: transform .3s cubic-bezier(.85, -.25, .57, 1);
	transform: scale(100%, 100%);
}

.confirmed-checkmark.animate-out
{
    transition: transform .3s cubic-bezier(.85, -.25, .57, 1);
	transform: scale(0, 0);
}