<div class="container">
    <div class="row">
        <div *ngFor="let c of resourceCard, let i = index" class="col-sm-4 col-md-3 col-lg-2 mt-3">
            <div>
                <div class="card" style="page-break-before: avoid;"
                ngStyle>
                    <img class="card-img-top" src={{c.$url}}>
                    <div class="card-title-block">
                        <h4 class="font-fenwick_wood">{{c.$name}}</h4>
                    </div>
                    <hr class="card-line-horizontal">
                    <div class="card-block">
                        <h4 class="font-fenwick_wood">{{c.$amount}}</h4>
                    </div>
                </div>
            </div>            
        </div>
        <div *ngFor="let c of unitCard, let i = index" class="col-sm-4 col-md-3 col-lg-2 mt-3" >
            <div>
                <div class="card">
                    <img class="card-img-top" style="margin: 0 auto 0 auto;" src={{c.$url}}>
                    <div class="card-title-block" style="margin: 0px auto 0px auto;">
                        <h4 class="font-fenwick_wood">{{c.$name}} {{c.$amount}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>