<div class="p-3 mb-2 bg-primary text-white text-center">
    <h5>World of Paint</h5>
</div>
<div class="container-fluid" style="height: 100%;">
    <div class="form-group" style="margin-top:-5px;">
        <label for="playername" class="text-primary">name</label>
        <input type="text" [(ngModel)]="playername" class="form-control text-primary" id="playername">
    </div>
    <div class="form-group" style="margin-top:-5px;">
        <label for="roomid" class="text-primary">roomid</label>
        <input type="tel" [(ngModel)]="roomid" class="form-control text-primary" id="roomid">
    </div>
    <ngb-alert *ngIf="room_invalid" #roomid_invalid [dismissible]="true" type="warning" (close)="closeServerWarning('room_invalid')">
        <strong>Room Number Invalid</strong>
    </ngb-alert>
    <hr>
    <h6 class="text-primary text-center">Enter your name and the roomid provided in the game room to play</h6>
    <div class="col-md-1">  
        <button type="button" class="btn btn-primary btn-lg btn-block btn-bottom" (click)="suscribeToRoom()">Join Game!</button>
    </div>
</div>
