.buttonImg
{
	position: absolute;
	margin: 5%;
	margin-top: 15%;
	width: 80%;
}

.buttonText
{
    width: 100%;
    left: 20%;
    font-family: FenwickWood;
    color: orange;
    pointer-events: none;
}
.uiText
{
    margin-top: -30%;
    font-size: 40px;
}