<div id="draggable-action-parent" class="box action-card text-dark" (click) = "movable_onclick()"
[ngStyle]="{'transform': 'translate(' + position.x + 'px, ' + position.y + 'px) rotate(' + rotation + 'deg)'}"
[@returnToInitialPosition] = "{value: state, params: {x: position.x, y: position.y, to_x: startPosition.x, to_y: startPosition.y, rot: rotation}}"
(@returnToInitialPosition.done) = "returnToInitialPositionEnd($event)">
    <img class="draggable-action-card" src="../../assets/images/image_card_template.png">
    <div class="card-img-overlay">
        <h5 class="text-center action-name">{{cardInfo.name}}</h5>
        <img src={{cardInfo.icon}} class="draggable-action-icon disable-pointer-events"/>
    </div>
</div>
