$scale: .65;
.flip-box
{
	background-color: transparent;
	width: 375px * $scale;
    height: 350px * $scale;
    -webkit-perspective: 1000px;
	perspective: 1000px;
}

.flip-box.neutral-left
{
	height: 30px * $scale;
	transform: translateX(-300px) scale(0.5);
}

.flip-box.neutral-right
{
	height: 30px * $scale;
	transform: translateX(300px) scale(0.5);
}

.flip-box.animate-in-size
{
	height: 30px * $scale;
	transform: translateX(0px) scale(0.5);
	transition: transform ease-out 0.25s, height ease-out 0.25s;
}

.flip-box.animate-out-size
{
	height: 30px * $scale;
	transform: translateX(0px) scale(0.5);
	transition: transform ease-out 0.25s, height ease-out 0.25s;
}

.flip-box.animate-normal-size
{
	height: 350px * $scale;
	transform: translateX(0px) scale(1);
	transition: transform 0.3s ease-out 0.25s, height 0.3s ease-out 0.25s;
}

.flip-box.animate-left
{
	height: 30px * $scale;
	transform: translateX(-300px) scale(0.5);
	transition: transform 0.3s ease-in 0.15s, height 0.3s ease-in 0.15s;
}

.flip-box.animate-right
{
	height: 30px * $scale;
	transform: translateX(300px) scale(0.5);
	transition: transform 0.3s ease-in 0.15s, height 0.3s ease-in 0.15s;
}

.border-outline
{
	width: 300px * $scale;
    left: 38px * $scale;
    top: 29px * $scale;
    position: absolute;
}

.border-name
{
	top: 272px * $scale;
}

.card-title-bg
{
	width: 157px;
    height: 28px;
    position: absolute;
    left: 36px;
    top: 182px;
    display: table;
}

.card-title
{
	display: table-cell;
	position: relative;
	vertical-align: middle;
	left: 0;
	top: 0;
	line-height: 16px;
	font-size: 40px * $scale;
}

.card-type
{
	left: 290px * $scale;
	top: 278px * $scale;
}

.card-inner
{
	width: 276px * $scale;
    top: 20px * $scale;
    left: 50.6px * $scale;
    height: 275px * $scale;
    -webkit-mask-size: 292px * $scale;
	mask-size: 292px * $scale;
}