<div class="flip-box" [ngClass]="{
	'animate-in-size': animateInSize,
	'animate-out-size': animateOutSize,
	'animate-normal-size': animateNormalSize,
	
	'animate-left': animateOutLeft,
	'animate-right': animateOutRight,
	'neutral-left': neutralLeft,
	'neutral-right': neutralRight}"
	(transitionend)="transitionEnd($event)">

	<div class="flip-box-inner" (click)="onOutlineClicked.emit(card)">
		<div class="flip-box-front">
			<div [style.background]="'url(' + card.backgroundUrl + ')'"
				[style.backgroundSize]="'cover'"
				class="card-inner"></div>
			<div 
				[style.background]="'url(' + card.foregroundUrl + ')'" 
				[style.backgroundRepeat]="'no-repeat'"
				[style.backgroundSize]="'cover'"
				class="card-inner"></div>
						
			<img src="assets/cards/border.png" class="border-outline"/>			
			<img src="assets/cards/border.png" class="border-outline"/>
			<img src="assets/cards/border-name.png" class="border-outline border-name"/>

			<img src={{card.typeImageUrl}} class="card-type"/>
			<img src={{card.factionImageUrl}} class="faction"/>
			<h2 class="card-title">{{card.title}}</h2>		
		</div>
	</div>
</div>