/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

.rotate-90
{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

@font-face {
    font-family: BreatheFire;
    src: url("./assets/fonts/BreatheFire.otf") format("opentype");
}

@font-face {
    font-family: FenwickWood;
    src: url("./assets/fonts/FenwickWoodtype.ttf") format('truetype')
}


.disable-pointer-events
{
    pointer-events: none;
}

.btn-parent-small
{
    position: absolute;
    margin-top: -7vh;
    margin-left: 48vw;
}


input:focus,
button:focus,
select:focus
{
  outline: none;
}

.btn-bottom
{
    margin: auto;
    margin-top: 10px;
    width: 80%;
}


.wrapper { overscroll-behavior: none }

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
body { -webkit-user-select: none; margin: 0px; font-family: Roboto, "Helvetica Neue", sans-serif; }

img
{ 
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

