<div class="flip-box" [ngClass]="{'animate-in': animateIn, 'animate-out': animateOut, 'animate-to-inventory': animateToInventory}"
(transitionend)="transitionEnd($event)">
	<div class="flip-box-inner" >
		<div class="flip-box-front">
			<div class="resource-container container">
				<div class="row flex-column no-gutters align-resource-items">
					<div class="col-2 resource-background" *ngFor="let resource of card.resources">
						<app-resource-hud [drawRight]="true" [resource]="resource" [textSize]="'small'"></app-resource-hud>	
					</div>
				</div>
			</div>
			<div [style.background]="'url(' + card.backgroundUrl + ')'" class="card-inner"
				[style.backgroundSize]="'cover'"
			 	class="card-inner"></div>
			<!-- <div 
				[style.background]="'url(' + card.foregroundUrl + ')'"
				[style.backgroundSize]="'cover'"
			 	class="card-inner"></div> -->
			
			<div *ngIf="card.tier">
				<img class="tier-background" src="assets/cards/background/tier_background.png"/>
				<h2 class="tier-text">{{card.tier}}</h2>
			</div>

			<img src="assets/cards/card-front.png" class="card-front"/>
			

			<img src={{card.typeImageUrl}} class="card-type"/>

			<div class="faction-container container">
				<div class="row justify-content-center">
					<div class="col-6" *ngFor="let factionUrl of card.factionImageUrls">
						<img class="faction" src={{factionUrl}}/>
					</div>					
				</div>
			</div>	
			
			
			<h2 class="card-title">{{card.title}}</h2>
			<p class="card-description" #descriptionBody></p>
		</div>		
		<div class="flip-box-back">
			<img src="assets/cards/card-back.png" class="card-back" />
		</div>
	</div>
</div>