<div class="flip-box" [ngClass]="{'animate-in': animateIn, 'animate-out': animateOut, 'animate-to-inventory': animateToInventory}"
(transitionend)="transitionEnd($event)">
	<div class="flip-box-inner">
		<div class="flip-box-front">
			<div class="resource-container container">
				<div class="row justify-content-end no-gutters">
					<div class="col-2 resource-background" *ngFor="let resource of currentResources">
						<app-resource-hud [resource]="resource" [textSize]="'small'"></app-resource-hud>	
					</div>
				</div>
			</div>
			<div [style.background]="'url(' + card.backgroundUrl + ')'" class="card-inner"
				[style.backgroundSize]="'cover'"
			 	class="card-inner">></div>
			<div 
				[style.background]="'url(' + card.foregroundUrl + ')'"
				[style.backgroundSize]="'cover'"
			 	class="card-inner"></div>

			<img src="assets/cards/card-front.png" class="card-front"/>
			
			<div class="container tier-container">
				<div class="row justify-content no-gutters" >
					<div class="col-4 ">
						<div *ngIf="selectedTier > 0"><img (click)="previousTier($event)" class="tier-arrow" src="assets/cards/btn_normal_left.svg"/></div>
					</div>
					<div class="col-4 tier-text">{{tierText}}</div>
					<div class="col-4">
						<div *ngIf="selectedTier < 2"><img class="tier-arrow" (click)="nextTier($event)" src="assets/cards/btn_normal_right.svg"/></div>
					</div>
				</div>
			</div>		

			<img src={{card.typeImageUrl}} class="card-type"/>
			<img src={{card.factionImageUrl}} class="faction"/>
			<h2 class="card-title">{{card.title}}</h2>
			<p class="card-description" #descriptionBody></p>			
		</div>		
		<div class="flip-box-back">
			<img src="assets/cards/card-back.png" class="card-back" />
		</div>
	</div>
</div>