<div class="close-ui-window ui-container text-center"
	[ngClass]="{'animate-in': showWindow, 'animate-out': !showWindow}"
	(transitionend)="transitionEnd($event)">

<div>
    <div class="ui-parent" [ngStyle]="{marginTop: top}">
		<img class="banner" src="assets/UI/window/banner_red1.svg">
		<h4 class="bannerText uiText">{{windowName}}</h4>

		<img [ngStyle]="{width: width}" src="assets/UI/window/side_frame1.svg">
		<div #buttonContainer>
			<img class="window-btn-bg" src="assets/UI/button/r_bg_red.png" >
			<img class="window-btn-bg" src="assets/UI/button/ring_frame.PNG">
			<img class="buy-btn-fg window-btn-fg close-ui-window" src="assets/UI/window/btn_d_cancel.png"
			(click)="closeWindowEvent($event)">
		</div>
		<ng-template window-host></ng-template>
    </div>
</div>