.ui-container
{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
}

.ui-parent
{
    display:inline-block;
    position:relative;
    margin-top: -50px;
}

.ui-container.animate-in
{
    transition: transform 0.8s cubic-bezier(.42, 0, .15, 1.25);
    transform: translate(0, 0);
}

.ui-container.animate-out
{
    transition: transform .8s cubic-bezier(.85, -.25, .57, 1);
    transform: translate(0, -100%);
}

.window-img
{
    width: 90vw;
    max-width: 66vh;
    max-height: 95vh;
}

.banner
{
    position: absolute;
    top: 18%;
    left: 0;
}

.close-btn
{
    position: absolute;
    max-width: 45px;
    min-width: 25px;
    left: 73%;
    top: 23%;
}

.clickable-btn
{
    position: absolute;
    width: 70vw;
    left: 20%;
}

.bannerText
{
    width: 100%;
    top: 23%;
    font-family: FenwickWood;
    color: #0062cc;
	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: beige;
    pointer-events: none;
    position: absolute;
}

.scrollable-menu
{
	background-color: #f8d6a0;
	border: 3px solid #290001;
	border-radius: 10px;

    position: absolute;
    width: 81%;
    padding: 5% 0 0 0;
    left: 10%;
    top: 36%;
    overflow-y: scroll;
    height: 50%;
}

/* Handle */
.scrollbar-ripe-malinka::-webkit-scrollbar-track {
  background-color: #F5F5F500;
  border-radius: 10px; }

  .scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F500; }

  .scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  max-height: 12px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #290001 0%, #581011 33%, #b94c3e 66%, #e07c5f 100%);
  background-image: linear-gradient(120deg, #290001 0%, #581011 33%, #b94c3e 66%, #e07c5f 100%); }
